<%= link_to aliment_path(aliment), :class => 'gems__gem' do %>
  <span class="gems__gem__info">
    <h2 class="gems__gem__name">
      <%= aliment.name %>
      <span class="gems__gem__version"><%= aliment.id %></span>
    </h2>
    <p class="gems__gem__desc t-text">blablabla blablablabalblablabl bla</p>
  </span>
  <p class="gems__gem__downloads__count">
    <%= aliment.proximate.blank? ? '-' : @aliment.proximate.energy.round(2) %>
    <span class="gems__gem__downloads__heading">
      <%= t('rubygems.index.calories') %>
    </span>
  </p>
<% end %>