<div class="gem__aside l-col--r--pad">
  <h2 class="gem__ruby-version__heading t-list__heading">
    <%= t 'rubygems.aside.quantity' %>:
    <div class="gem__code-wrap">
      <input type="text" class="gem__code" id="gemfile_text" value="<%#= @latest_version.to_bundler %>">
      <span class="gem__code__icon" id="js-gem__code--gemfile" data-clipboard-target="#gemfile_text">=</span>
      <span class="gem__code__tooltip--copy"><%= t('rubygems.aside.quantity_tooltip') %></span>
      <span class="gem__code__tooltip--copied"><%= t('.copied') %></span>
    </div>
  </h2>

  <h2 class="gem__ruby-version__heading t-list__heading">
    <%= t '.measures' %>:
    <!-- <div class="gem__code-wrap">
      <input type="text" class="gem__code" id="install_text" value="<%#= @latest_version.to_install %>" readonly="readonly">
      <span class="gem__code__icon" id="js-gem__code--install" data-clipboard-target="#install_text">=</span>
    </div> -->
  </h2>

  <h3 class="t-list__heading"><%= t '.links.header' %>:</h3>
  <div class="t-list__items">
    <%#= link_to t('edit'), edit_rubygem_path(@rubygem), :class => "gem__link t-list__item", :id => "edit" if @rubygem.owned_by?(current_user) %>

    <%#= badge_link(@rubygem) %>
  </div>
</div>
