%div{ id: "breadcrumbs" }
  %a{ href: "http://www.calorieking.com/" } Home
  %a{ href: "http://www.calorieking.com/foods/" } Food Database

%div{ id: "page-content" }
  %div{ id: "search-results-view" }
    %div{ id: "search-results-content" }
      %h2
        Calories in
        %span{ class: "keywords" }
          milk
      %p
        Find nutritional information like calories, carbs, fat, protein and fiber for milk.

      %h3{ class: "food-search-brand-container" }
        %span{ class: "food-search-brand-unlinked" } Average All Brands

      - @aliments.each do |aliment|
        %div{ class: "food-search-result left-vertical-border-green" }
          %span{ class: "food-search-category" }
            = aliment.food_group
          &nbsp:
          = link_to aliment.name, aliments_path(id: aliment), class: "food-search-result-name"

      %h3{ class: "food-search-brand-container" }
        %a{ class: "food-search-brand", href: "http://www.calorieking.com/foods/calories-in-hersheys_b-YmlkPTQ1Mg.html" } Hershey's
        %a{ href: "http://www.calorieking.com/foods/calories-in-hersheys_b-YmlkPTQ1Mg.html", class: "food-search-brand-view-more" } (view more)

      %div{ class: "food-search-result left-vertical-border-blue" }
        %span{ class: "food-search-category" } Chocolate
        &nbsp:
        %a{ class: "food-search-result-name", href: "http://www.calorieking.com/foods/calories-in-chocolate-kisses-milk-chocolate_f-ZmlkPTU4NDcz.html" } Kisses Milk Chocolate
        %span{ class: "food-search-calorie-density" }

      %div{ class: "food-search-result left-vertical-border-blue" }
        %span{ class: "food-search-category" } Chocolate
        &nbsp:
        %a{ class: "food-search-result-name", href: "http://www.calorieking.com/foods/calories-in-chocolate-milk-chocolate-bar_f-ZmlkPTU4NDc1.html" } Milk Chocolate Bar
        %span{ class: "food-search-calorie-density" }

      %h3{ class: "food-search-brand-container" }
        %a{ class: "food-search-brand", href: "http://www.calorieking.com/foods/calories-in-m-ms_b-YmlkPTU5OQ.html" } M&amp;M's
        %a{ href: "http://www.calorieking.com/foods/calories-in-m-ms_b-YmlkPTU5OQ.html", class: "food-search-brand-view-more" } (view more)

      %div{ class: "food-search-result left-vertical-border-blue" }
        %span{ class: "food-search-category" } Chocolate
        &nbsp:
        %a{ class: "food-search-result-name", href: "http://www.calorieking.com/foods/calories-in-chocolate-milk-chocolate-candies_f-ZmlkPTE5MTQx.html" } Milk Chocolate Candies
        %span{ class: "food-search-calorie-density" }

      = paginate @aliments

      %div{ class: "navigation" }
        %ul{ class: "pagination" }
          %li{ class: "first-child disabled" }
            %a{ href: "#" } First
          %li{ class: " disabled" }
            %a{ href: "#" } Prev
          %li{ class: " disabled" }
            %a{ href: "#" } 1
          %li{ class: "" }
            %a{ href: "http://www.calorieking.com/calories-in-milk.html?page=2" } 2
          %li{ class: "" }
            %a{ href: "http://www.calorieking.com/calories-in-milk.html?page=3" } 3
          %li{ class: "" }
            %a{ href: "http://www.calorieking.com/calories-in-milk.html?page=4" } 4
          %li{ class: "" }
            %a{ href: "http://www.calorieking.com/calories-in-milk.html?page=5" } 5
          %li{ class: "" }
            %a{ href: "http://www.calorieking.com/calories-in-milk.html?page=2" } Next
          %li{ class: "" }
            %a{ href: "http://www.calorieking.com/calories-in-milk.html?page=85" } Last
          %li
            %a{ href: "https://generalhelp.calorieking.com/?group=fooddb" } Can't find a food?

.row
  .col-md-8.p-a-md
    %h5.card-title
      show results by
    %br

    %form
      .form-group.row
        %label.col-sm-2.form-control-label{ for: 'serving' } serving
        .input-group.col-sm-3
          %input.form-control{ placeholder: 'serving', type: 'text' }/
          .input-group-addon .00
      .form-group.row
        %label.col-sm-2 unity
        .col-sm-10
          .radio
            %label
              %input{ :checked => "checked", :name => "name", :type => "radio", :value => "gram" }/
              grams
          .radio
            %label
              %input{ :name => "name", :type => "radio", :value => "fl" }/
              fl
          .radio
            %label
              %input{ :name => "name", :type => "radio", :value => "oz"}/
              oz
          .radio
            %label
              %input{ :name => "name", :type => "radio", :value => "cups"}/
              cups
          .radio
            %label
              %input{ :name => "name", :type => "radio", :value => "spoon"}/
              spoon
          .radio
            %label
              %input{ :name => "name", :type => "radio", :value => "tea-spoon"}/
              tea spoon

  .col-md-4.p-a-md
    .card.card-block{:style => "padding"}
      %h4.card-title TITLE
      %p.card-text
        This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
      %p.card-text
        %small.text-muted last updated 3 mins ago

- @aliments.each do |aliment|
  = link_to aliment.name, aliments_path(id: aliment)
  %br

= paginate @aliments
