<div class="pure-menu pure-menu-horizontal">
  <a href='#' class="pure-menu-heading pure-menu-link" href="">Yummy</a>

  <ul class="pure-menu-list">
    <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">home</a></li>
    <li class="pure-menu-item"><a href="#about" class="pure-menu-link">about</a></li>
    <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">contact</a></li>
  </ul>
</div>

<div class="content-wrapper">
  <div class="content">
    <div class="pure-g page-limits">
      <div class="pure-u-1 pure-u-md-1-3"></div>

      <div class="pure-u-1 pure-u-md-1-3">
        <%= form_for(:aliment, html: { id: 'food_search', class: "pure-form" }, method: :get) do |f| %>
        <!-- <input id="name" type="text" placeholder="Your Name"> -->
          <%= f.autocomplete_field :name, autocomplete_aliment_name_aliments_path, placeholder: "e.g. Pizza, Wendy's, Avocado, Vodka", id: 'food-search-input', class: 'pure-input-rounded pure-u-18-24' %>
          <%= f.submit 'search', id: 'food-search-submit', class: "pure-button pure-button-primary" %>

          <!-- <h1 class="splash-head">Big Bold Text</h1> -->
          <p class="splash-subhead">
              <strong>Popular:</strong>
              <a href="#" class='no_decoration'>Potatoes</a>
              <a href="#" class='no_decoration'>Eggs</a>
              <a href="#" class='no_decoration'>Bagel</a>
              <a href="#" class='no_decoration'>Steak</a>
              <a href="#" class='no_decoration'>Milk</a>
              <a href="#" class='no_decoration'>More...</a>
          </p>
          <!-- <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
          </p> -->
        <% end %>
      </div>

      <div class="space-lines"></div>

      <!-- aliments list -->

      <!-- aliment show -->
      <% unless @aliments.blank? %>
        <div class="pure-u-1-3 nutrients-table">
          <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                  <th>Name</th>
                  <th colspan='2'></th>
                </tr>
            </thead>

            <tbody>
              <% @aliments.each do |aliment| %>
                <tr>
                  <td><%= aliment.name %></td>

                  <td><%= link_to 'Show', aliment %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>

    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">


        <h3 class="content-subhead">
          <i class="fa fa-rocket"></i>
          Get Started Quickly
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-mobile"></i>
          Responsive Layouts
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-th-large"></i>
          Modular
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-check-square-o"></i>
          Plays Nice
        </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
    </div>
  </div>

  <div id='about' class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
      <%= image_tag 'file-icons.png', alt: "File Icons", width: 300, class: 'pure-img-responsive' %>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

      <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor.
      </p>
    </div>
  </div>

  <div id='contact' class="content">
    <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

    <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
        <form class="pure-form pure-form-stacked">
          <fieldset>

            <label for="name">Your Name</label>
            <input id="name" type="text" placeholder="Your Name">


            <label for="email">Your Email</label>
            <input id="email" type="email" placeholder="Your Email">

            <label for="password">Your Password</label>
            <input id="password" type="password" placeholder="Your Password">

            <button type="submit" class="pure-button">Sign Up</button>
          </fieldset>
        </form>
      </div>

      <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
        <h4>Contact Us</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>

        <h4>More Information</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

  </div>

  <div class="footer l-box is-center">
    View the source of this layout to learn more. Made with love by the YUI Team.
  </div>
</div>
