<% @title = "search " %>
<% @subtitle = " for" %>

<header class="gems__header">
  <p class="gems__meter">
    <%= page_entries_info @aliments, :entry_name => 'aliment', :model => 'aliment' %>
  </p>
</header>

<% unless @aliments.blank? %>
  <% @aliments.each do |aliment| %>
    <% unless aliment.blank? %>
      <%= link_to aliment_path(aliment), :class => 'gems__gem' do %>
        <span class="gems__gem__info">
          <h2 class="gems__gem__name">
            <%= aliment.name %>
            <span class="gems__gem__version"><%= aliment.id %></span>
          </h2>
          <p class="gems__gem__desc t-text"><%= (aliment.description.blank? || aliment.description.empty?) ? '---' : aliment.description %></p>
        </span>
        <p class="gems__gem__downloads__count">
          <%= aliment.proximate.blank? ? '-' : aliment.proximate.energy.round(2) %>
          <span class="gems__gem__downloads__heading">
            <%= t('rubygems.index.calories') %>
          </span>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= will_paginate @aliments %>
