%div{ id: "breadcrumbs" }
  %a{ href: "http://www.calorieking.com/" } Home /
  /
  %a{ href: "http://www.calorieking.com/foods/" } Food Database

%div{ id: "page-content" }
  %div{ id: "content-container" }
    %div{ id: "mSearch" }
      %form{ id: "mFoodSearch", method: "get", action: "/foods/search.php" }
        %div
          %input{ value: "Food search", id: "food-search-keywords", name: "keywords", size: "12", type: "text" }
          %input{ id: "mGo", name: "go", value: "Go", src: "/images/search.gif", type: "image" }

      %a{ href: "http://www.calorieking.com/products/the-calorieking-program/", class: "cta btn major promo-holder" } Start Losing
      %p{ id: "mTagline" } Want to lose weight? Get the tools that work!

    %div{ id: "food-info" }
      %ol{ id: "food-breadcrumbs", 'xmlns:v' => "http://rdf.data-vocabulary.org/#" }
        %li{ typeof: "v:Breadcrumb" }
          %a{ href: "http://www.calorieking.com/foods/calories-in-average-all-brands_b-YmlkPTE.html", rel: "v:url", property: "v:title" } Average All Brands /
        %li{ typeof: "v:Breadcrumb" }
          %a{ href: "http://www.calorieking.com/foods/calories-in-average-all-brands_b-YmlkPTE.html#nut-drinks", rel: "v:url", property: "v:title" } Nut Drinks /
        %li Almond Milk

      %noscript
        %div{ class: "error" }
          You must enable Javascript to see charts and correct data for different
          serving sizes. Please click the "Recalculate" button to show nutrition
          facts based on your selection.

      %div{ id: "food-heading-profile" }
        %h2{ id: "food-heading" }
          %span{ id: "heading-calories-in" } How many calories in
          %span{ id: "heading-food-cat-desc" }
            Almond Milk

    %div{ id: "food-info-container" }
      %div{ class: "shape-up-2016" }
        %div{ class: "shape-up-2016__title" }
          Shape Up!
          %br
          in 2016
        %div{ class: "shape-up-2016__content" }
          %div{ class: "shape-up-2016__with" } with
          The CalorieKing Weight Control Program

        %a{ href: "http://www.calorieking.com/products/the-calorieking-program/", class: "cta btn major promo-holder" } Start Today

      %div{ id: "mCalorie" }
        %span{ id: "mCal", class: "calorie-display" }= @aliment.proximate.blank? ? '-' : @aliment.proximate.energy
        %span{ id: "mCalLabel" } calories
        %br

        %form{ action: "", id: "submission", method: "post", onsubmit: "return false" }
          %div{ id: "serving-controls" }
            %span{ id: "label-serving-size" } Serving size
            %input{ id: "amount", maxlength: "5", size: "2", value: "1", name: "amount", type: "text" }
            %span{ id: "multiplier" } x

            %select{ name: "units", id: "units" }
              %option{ value: "0", selected: "selected" } 100g
              %option{ value: "1" } 10g
              %option{ value: "2" } cup (227g)
              %option{ value: "3" } tbsp (14.2g)
              %option{ value: "4" } stick (113g)
              %option{ value: "5" } pat (5g)

            %span{ id: "numError" }
              %span{ class: "errHead" } Oops!
              %span{ class: "message" } You can only enter numbers and decimals in here, e.g. 1 or 3.5

          %div{ id: "serving-actions" }
            %noscript
              %button{ type: "submit", id: "recalculate", name: "recalc" } Recalculate

            %a{ href: "http://www.calorieking.com/foods/compare/?l=ZmlkPTk4NDE1", class: "cta minor" } Compare Foods

      %div{ id: "google-ad-primary" }
        -# %script{ async: "", src: "Calories%20-%20Show_files/adsbygoogle.js" }
        -# <!-- Food View - Iteration 1: Rectangle (Medium) -->
        %ins{ 'data-adsbygoogle-status' => "done", class: "adsbygoogle", style: "display: inline-block; width: 300px; height: 250px;", 'data-ad-client' => "ca-pub-6044097963479369", 'data-ad-slot' => "9380197138", 'data-adtest' => "off" }
          %ins{ id: "aswift_0_expand", style: "display:inline-table;border:none;height:250px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent" }
            %ins{ id: "aswift_0_anchor", style: "display:block;border:none;height:250px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent" }
              %iframe{ marginwidth: "0", marginheight: "0", vspace: "0", hspace: "0", allowtransparency: "true", scrolling: "no", allowfullscreen: "true", onload: "var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}", id: "aswift_0", name: "aswift_0", style: "left:0;position:absolute;top:0;", frameborder: "0", height: "250", width: "300" }

        %script
          (adsbygoogle = window.adsbygoogle || []).push({});

    %div{ id: "mData" }
      %div{ style: "overflow: auto;" }
        %div{ id: "mNutrient" }
          %div{ class: "nutrient-facts" }
            %table
              %tbody
                %tr
                  %th{ colspan: "3" }
                    Nutrition Facts
                -# MAIN FACTS
                %tr{ class: "energy" }
                  %td{ class: "calories" }
                    Calories&nbsp;
                    %span{ class: "amount" }= @aliment.proximate.blank? ? '-' : @aliment.proximate.energy
                  %td{ class: "kilojoules", colspan: "2" }
                    (
                    %span{ class: "amount" } 251
                    kJ)
                %tr{ class: "fat-calories" }
                  %td{ colspan: "3" }
                    Calories from fat
                    %span{ class: "amount" }= @aliment.proximate.blank? ? '-' : (9 * @aliment.proximate.fat).round(2)
                %tr{ class: "daily-value-header" }
                  %td{ colspan: "3" }
                    %span{ class: "label" } % Daily Value
                    %span{ class: "footnote" } 1
                %tr{ class: "total-fat" }
                  %td{ class: "label" } Total Fat
                  %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.fat } g"
                  %td{ class: "daily-value" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.calorify('DIET_BASE', :fat) } %"
                %tr{ class: "sat-fat" }
                  %td{ class: "label" } Sat. Fat
                  %td{ class: "amount" }= @aliment.lipid.blank? ? '-' : "#{ @aliment.lipid.fatty_acids_saturated } g"
                  %td{ class: "daily-value" } CORRIGIR %
                -# %tr{ class: "trans-fat" }
                -#   %td{ class: "label" } Trans Fat
                -#   %td{ class: "amount" } 0g
                -#   %td{ class: "daily-value" } &nbsp;
                %tr{ class: "cholesterol" }
                  %td{ class: "label" } Cholesterol
                  %td{ class: "amount" }= @aliment.lipid.blank? ? '-' : "#{ @aliment.lipid.cholesterol.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "sodium" }
                  %td{ class: "label" } Sodium
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.sodium.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "total-carbs" }
                  %td{ class: "label" } Total Carbs.
                  %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.carbohydrate.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "fiber" }
                  %td{ class: "label" } Dietary Fiber
                  %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.fiber.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "sugars" }
                  %td{ class: "label" } Sugars
                  %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.sugars.round(2) } g"
                  %td{ class: "daily-value" } &nbsp;
                %tr{ class: "protein" }
                  %td{ class: "label" } Protein
                  %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.protein.round(2) } g"
                  %td{ class: "daily-value" } &nbsp;
                %tr{ class: "calcium" }
                  %td{ class: "label" } Calcium
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.calcium.round(2) } mg"
                  %td{ class: "daily-value" } &nbsp;
                %tr{ class: "potassium" }
                  %td{ class: "label" } Potassium
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.potassium.round(2) } mg"
                  %td{ class: "daily-value" } &nbsp;
                -# VITAMINS
                %tr{ class: "vitamins" }
                  %td{ class: "label" } Vitamins
                  %td{ class: "daily-value" } &nbsp;
                  -# %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.carbohydrate.round(2) } g"
                  -# %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "alpha_carotene" }
                  %td{ class: "label" } Alpha Carotene
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.alpha_carotene.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "beta_carotene" }
                  %td{ class: "label" } Beta Carotene
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.beta_carotene.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "betaine" }
                  %td{ class: "label" } Betaine
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.betaine.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "choline" }
                  %td{ class: "label" } Choline
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.choline.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "cryptoxanthin" }
                  %td{ class: "label" } Cryptoxanthin
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.cryptoxanthin.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "folate_total" }
                  %td{ class: "label" } Folate
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.folate_total.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "folic_acid" }
                  %td{ class: "label" } Folic Acid
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.folic_acid.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "lutein_zeaxanthin" }
                  %td{ class: "label" } Lutein + Zeaxanthin
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.lutein_zeaxanthin.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "lycopene" }
                  %td{ class: "label" } Lycopene
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.lycopene.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "niacin" }
                  %td{ class: "label" } Niacin
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.niacin.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "pantothenic_acid" }
                  %td{ class: "label" } Pantothenic Acid
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.pantothenic_acid.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "retinol" }
                  %td{ class: "label" } Retinol
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.retinol.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "riboflavin" }
                  %td{ class: "label" } Riboflavin
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.riboflavin.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "thiamin" }
                  %td{ class: "label" } Thiamin
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.thiamin.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "vitamin_a_iu" }
                  %td{ class: "label" } Vitamin A (IU)
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.vitamin_a_iu.round(2) } IU"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "vitamin_a_rae" }
                  %td{ class: "label" } Vitamin A (RAE)
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.vitamin_a_rae.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "vitamin_b12" }
                  %td{ class: "label" } Vitamin B12
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.vitamin_b12.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "vitamin_b6" }
                  %td{ class: "label" } Vitamin B6
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.vitamin_b6.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "vitamin_c" }
                  %td{ class: "label" } Vitamin C
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.vitamin_c.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "vitamin_d" }
                  %td{ class: "label" } Vitamin D
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.vitamin_d.round(2) } IU"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "vitamin_e_alpha_tocopherol" }
                  %td{ class: "label" } Vitamin E
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.vitamin_e_alpha_tocopherol.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "vitamin_k" }
                  %td{ class: "label" } Vitamin K
                  %td{ class: "amount" }= @aliment.vitamin.blank? ? '-' : "#{ @aliment.vitamin.vitamin_k.round(2) } µg"
                  %td{ class: "daily-value" } CORRIGIR %
                -# AMINO ACIDS
                %tr{ class: "amino-acids" }
                  %td{ class: "label" } Amino Acids
                  -# %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.carbohydrate.round(2) } g"
                  -# %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "alanine" }
                  %td{ class: "label" } Alanine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.alanine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "arginine" }
                  %td{ class: "label" } Arginine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.arginine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "aspartic_acid" }
                  %td{ class: "label" } Aspartic Acid
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.aspartic_acid.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "cystine" }
                  %td{ class: "label" } Cystine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.cystine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "glutamic_acid" }
                  %td{ class: "label" } Glutamic Acid
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.glutamic_acid.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "glycine" }
                  %td{ class: "label" } Glycine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.glycine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "histidine" }
                  %td{ class: "label" } Histidine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.histidine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "isoleucine" }
                  %td{ class: "label" } Isoleucine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.isoleucine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "leucine" }
                  %td{ class: "label" } Leucine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.leucine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "lysine" }
                  %td{ class: "label" } Lysine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.lysine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "methionine" }
                  %td{ class: "label" } Methionine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.methionine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "phenylalanine" }
                  %td{ class: "label" } phenylalanine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.phenylalanine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "proline" }
                  %td{ class: "label" } Proline
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.proline.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "serine" }
                  %td{ class: "label" } Serine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.serine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "threonine" }
                  %td{ class: "label" } Threonine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.threonine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "tryptophan" }
                  %td{ class: "label" } Tryptophan
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.tryptophan.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "tyrosine" }
                  %td{ class: "label" } Tyrosine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.tyrosine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "valine" }
                  %td{ class: "label" } Valine
                  %td{ class: "amount" }= @aliment.amino_acid.blank? ? '-' : "#{ @aliment.amino_acid.valine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                -# LIPIDS
                %tr{ class: "lipids" }
                  %td{ class: "label" } Lipids
                  -# %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.carbohydrate.round(2) } g"
                  -# %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "fatty_acids_monounsaturated" }
                  %td{ class: "label" } Fatty Acids Monounsaturated
                  %td{ class: "amount" }= @aliment.lipid.blank? ? '-' : "#{ @aliment.lipid.fatty_acids_monounsaturated.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "fatty_acids_polyunsaturated" }
                  %td{ class: "label" } Fatty Acids Polyunsaturated
                  %td{ class: "amount" }= @aliment.lipid.blank? ? '-' : "#{ @aliment.lipid.fatty_acids_polyunsaturated.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                -# MINERALS
                %tr{ class: "minerals" }
                  %td{ class: "label" } Minerals
                  -# %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.carbohydrate.round(2) } g"
                  -# %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "copper" }
                  %td{ class: "label" } Copper
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.copper.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "iron" }
                  %td{ class: "label" } Iron
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.iron.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "magnesium" }
                  %td{ class: "label" } Magnesium
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.magnesium.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "manganese" }
                  %td{ class: "label" } Manganese
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.manganese.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "phosphorus" }
                  %td{ class: "label" } Phosphorus
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.phosphorus.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "selenium" }
                  %td{ class: "label" } Selenium
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.selenium.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "zinc" }
                  %td{ class: "label" } Zinc
                  %td{ class: "amount" }= @aliment.mineral.blank? ? '-' : "#{ @aliment.mineral.zinc.round(2) } mg"
                  %td{ class: "daily-value" } CORRIGIR %
                -# OTHERS
                %tr{ class: "others" }
                  %td{ class: "label" } Other Nutrients
                  -# %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.carbohydrate.round(2) } g"
                  -# %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "alcohol" }
                  %td{ class: "label" } alcohol
                  %td{ class: "amount" }= @aliment.other.blank? ? '-' : "#{ @aliment.other.alcohol.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "caffeine" }
                  %td{ class: "label" } caffeine
                  %td{ class: "amount" }= @aliment.other.blank? ? '-' : "#{ @aliment.other.caffeine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "water" }
                  %td{ class: "label" } water
                  %td{ class: "amount" }= @aliment.proximate.blank? ? '-' : "#{ @aliment.proximate.water.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %
                %tr{ class: "theobromine" }
                  %td{ class: "label" } Theobromine
                  %td{ class: "amount" }= @aliment.other.blank? ? '-' : "#{ @aliment.other.theobromine.round(2) } g"
                  %td{ class: "daily-value" } CORRIGIR %


        %div{ id: "mBurn" }
          %h3{ id: "label-burn-calories" }
            How to burn
            %span{ class: "calorie-display" } 60
            calories
            %sup 2

          %ul{ id: "mBurnGraph" }
            %li
              %span{ id: "exwalking", class: "mTime" }
                %span{ class: "mMins" } 16
                %span{ class: "mMinsLabel" } mins
              %span{ class: "mActivity" } walking
            %li{ style: "width: 42.1%" }
              %span{ id: "exjogging", class: "mTime" }
                %span{ class: "mMins" } 7
                %span{ class: "mMinsLabel" } mins
              %span{ class: "mActivity" } jogging
            %li{ style: "width: 29%" }
              %span{ id: "exswimming", class: "mTime" }
                %span{ class: "mMins" } 5
                %span{ class: "mMinsLabel" } mins
              %span{ class: "mActivity" } swimming
            %li{ style: "width: 55%" }
              %span{ id: "excycling", class: "mTime" }
                %span{ class: "mMins" } 8
                %span{ class: "mMinsLabel" } mins
              %span{ class: "mActivity" } cycling

        %div{ style: "float: right; width: 300px;" }
          -# %script{ async: "", src: "Calories%20-%20Show_files/adsbygoogle.js" }
          -# <!-- Foods - Food - Desktop: Middle -->
          %ins{ 'data-adsbygoogle-status': "done", class: "adsbygoogle", style: "display:inline-block;width:300px;height:600px", 'data-ad-client' => "ca-pub-6044097963479369", 'data-ad-slot' => "6730132738", 'data-adtest' => "off" }
            %ins{ id: "aswift_1_expand", style: "display:inline-table;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent" }
              %ins{ id: "aswift_1_anchor", style: "display:block;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent" }
                %iframe{ marginwidth: "0", marginheight: "0", vspace: "0", hspace: "0", allowtransparency: "true", scrolling: "no", allowfullscreen: "true", onload: "var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}", id: "aswift_1", name: "aswift_1", style: "left:0;position:absolute;top:0;", frameborder: "0", height: "600", width: "300" }

          %script
            (adsbygoogle = window.adsbygoogle || []).push({});

      %dl{ class: "footnote" }
        %dt 1
        %dd
          Percent Daily Values are based on a 2,000 calorie diet. Your daily
          values may be higher or lower depending on your calorie needs. These
          values are recommended by a government body. They are not
          CalorieKing.com recommendations.
        %dt 2
        %dd
          Based on a 35 year old female who is
          5'7" and weighs
          144 lbs.

%div{ style: "clear: both" } <!-- -->