<% if @aliment.present? %>
  <% @title = @aliment.name %>
  <% @subtitle = @aliment.proximate.try(:energy) ? "#{ @aliment.proximate.try(:energy).round(2) } calories" : '--' %>

  <% content_for :head do %>
    <%= auto_discovery_link_tag(:atom, aliment_path(@aliment), { title: "#{@aliment.name} Calories Feed" }) %>
    <% if @aliment.proximate.try(:energy).present? %>
      <link rel="canonical" href="<%= aliment_path(@aliment) %>" />
    <% else %>
      <meta name="robots" content="noindex" />
    <% end %>
  <% end %>

  <div class="l-overflow">
    <div class="l-colspan--l colspan--l--has-border">
      <div class="gem__intro">
        <div id="markup" class="gem__desc">
          <% if @aliment.description %>
            <p><%= @aliment.description %></p>
          <% else %>
            <p>This aliment has no description.</p>
          <% end %>
        </div>
      </div>

      <div class="l-half--l">
        <div class="versions">

            <div class="pure-u-1-3 nutrients-table">
              <table class="pure-table pure-table-horizontal">
                <thead>
                  <tr>
                    <th>
                      <h3 class="t-list__heading"><%= t '.nutrients_facts' %></h3>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <div class="l-half--l">
                        <!-- <div class="versions"> -->
                          <h3 class="t-list__heading"><%= t '.nutrients' %></h3>
                        <!-- </div> -->
                      </div>
                    </th>
                    <th>
                      <div class="l-half--l">
                        <!-- <div class="versions"> -->
                          <h3 class="t-list__heading"><%= t '.quantity' %></h3>
                        <!-- </div> -->
                      </div>
                    </th>
                    <th>
                      <div class="l-half--l">
                        <!-- <div class="versions"> -->
                          <h3 class="t-list__heading"><%= t '.percentage' %></h3>
                        <!-- </div> -->
                      </div>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <!-- PROXIMATES section -->
                  <tr class='gem__version-wrap'>
                    <td>
                      <a class="t-list__item" href="">Calories</a>
                    </td>
                    <td>
                      <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.energy.round(2) %> kcal
                    </td>
                    <td>12%</td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>from carbs</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : (@aliment.proximate.carbohydrate * 4).round(2) %> kcal
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:carbohydrate, @aliment.proximate.carbohydrate) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>from proteins</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : (@aliment.proximate.protein * 4).round(2) %> kcal
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:protein, @aliment.proximate.protein) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>from fats</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : (@aliment.proximate.fat * 9).round(2) %> kcal
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:fat, @aliment.proximate.fat) %></td>
                  </tr>

                  <!-- CARBS section -->
                  <tr class='gem__version-wrap'>
                      <td>
                        <a class="t-list__item" href="">Total carbs</a>
                      </td>
                      <td>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.carbohydrate.round(2) %> g
                      </td>
                      <td><%= @aliment.proximate.blank? ? '-' : daily_percentage(:carbohydrate, @aliment.proximate.carbohydrate) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Fibers</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.fiber.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:fiber, @aliment.proximate.fiber) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Sugars</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.sugars.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:sugars, @aliment.proximate.sugars) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Sucrose</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.sucrose.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:sucrose, @aliment.proximate.sucrose) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Glucose (dextrose)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.glucose.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:glucose, @aliment.proximate.glucose) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Fructose</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.fructose.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:fructose, @aliment.proximate.fructose) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Lactose</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.lactose.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:lactose, @aliment.proximate.lactose) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Maltose</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.maltose.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:maltose, @aliment.proximate.maltose) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Galactose</td>
                      <td class='gem__version__date'>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.galactose.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.proximate.blank? ? '-' : daily_percentage(:galactose, @aliment.proximate.galactose) %></td>
                  </tr>

                  <!-- FATS section -->
                  <tr class='gem__version-wrap'>
                      <td>
                        <a class="t-list__item" href="">Total fats</a>
                      </td>
                      <td>
                        <%= @aliment.proximate.blank? ? '-' : @aliment.proximate.fat.round(2) %> g
                      </td>
                      <td><%= @aliment.proximate.blank? ? '-' : daily_percentage(:fat, @aliment.proximate.fat) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Fatty Acids Saturated</td>
                      <td class='gem__version__date'>
                        <%= @aliment.lipid.blank? ? '-' : @aliment.lipid.fatty_acids_saturated.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.lipid.blank? ? '-' : daily_percentage(:fatty_acids_saturated, @aliment.lipid.fatty_acids_saturated) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Fatty Acids Monounsaturated</td>
                      <td class='gem__version__date'>
                        <%= @aliment.lipid.blank? ? '-' : @aliment.lipid.fatty_acids_monounsaturated.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.lipid.blank? ? '-' : daily_percentage(:fatty_acids_monounsaturated, @aliment.lipid.fatty_acids_monounsaturated) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Fatty Acids Polyunsaturated</td>
                      <td class='gem__version__date'>
                        <%= @aliment.lipid.blank? ? '-' : @aliment.lipid.fatty_acids_polyunsaturated.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.lipid.blank? ? '-' : daily_percentage(:fatty_acids_polyunsaturated, @aliment.lipid.fatty_acids_polyunsaturated) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Cholesterol</td>
                      <td class='gem__version__date'>
                        <%= @aliment.lipid.blank? ? '-' : @aliment.lipid.cholesterol.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.lipid.blank? ? '-' : daily_percentage(:cholesterol, @aliment.lipid.cholesterol) %></td>
                  </tr>


                  <!-- MINERALS section -->
                  <tr class='gem__version-wrap'>
                      <td>
                        <a class="t-list__item" href="">Minerals</a>
                      </td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Calcium, Ca</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.calcium.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:calcium, @aliment.mineral.calcium) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Iron, Fe</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.iron.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:iron, @aliment.mineral.iron) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Magnesium, Mg</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.magnesium.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:magnesium, @aliment.mineral.magnesium) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Phosphorus, P</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.phosphorus.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:phosphorus, @aliment.mineral.phosphorus) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Potassium, K</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.potassium.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:potassium, @aliment.mineral.potassium) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Sodium, Na</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.sodium.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:sodium, @aliment.mineral.sodium) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Zinc, Zn</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.zinc.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:zinc, @aliment.mineral.zinc) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Copper, Cu</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.copper.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:copper, @aliment.mineral.copper) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Manganese, Mn</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.manganese.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:manganese, @aliment.mineral.manganese) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Selenium, Se</td>
                      <td class='gem__version__date'>
                        <%= @aliment.mineral.blank? ? '-' : @aliment.mineral.selenium.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.mineral.blank? ? '-' : daily_percentage(:selenium, @aliment.mineral.selenium) %></td>
                  </tr>


                  <!-- VITAMINS section -->
                  <tr class='gem__version-wrap'>
                    <td>
                      <a class="t-list__item" href="">Vitamins</a>
                    </td>
                    <td class='nutrition_facts_cells'></td>
                    <td class='nutrition_facts_cells'></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Vitamin C (ascorbic acid)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_c.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_c, @aliment.vitamin.vitamin_c) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Thiamin (B1)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.thiamin.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:thiamin, @aliment.vitamin.thiamin) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Riboflavin (B2)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.riboflavin.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:riboflavin, @aliment.vitamin.riboflavin) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Niacin (B3)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.niacin.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:niacin, @aliment.vitamin.niacin) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Pantothenic Acid (B5)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.pantothenic_acid.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:pantothenic_acid, @aliment.vitamin.pantothenic_acid) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Pyridoxine (B6)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_b6.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_b6, @aliment.vitamin.vitamin_b6) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Folate, total</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.folate_total.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:folate_total, @aliment.vitamin.folate_total) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Folic Acid (B9)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.folic_acid.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:folic_acid, @aliment.vitamin.folic_acid) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Folate, food</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.folate_food.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:folate_food, @aliment.vitamin.folate_food) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Folate, DFE</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.folate_dfe.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:folate_dfe, @aliment.vitamin.folate_dfe) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Choline, total</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.choline.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:choline, @aliment.vitamin.choline) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Betaine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.betaine.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:betaine, @aliment.vitamin.choline) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Cobalamin (B12)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_b12.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_b12, @aliment.vitamin.choline) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Vitamin B12, added</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_b12_added.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_b12_added, @aliment.vitamin.vitamin_b12_added) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Vitamin A, RAE</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_a_rae.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_a_rae, @aliment.vitamin.vitamin_a_rae) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Retinol (A1)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.retinol.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:retinol, @aliment.vitamin.retinol) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Carotene, Beta</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.beta_carotene.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:beta_carotene, @aliment.vitamin.beta_carotene) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Carotene, Alpha</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.alpha_carotene.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:alpha_carotene, @aliment.vitamin.alpha_carotene) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Cryptoxanthin, Beta</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.cryptoxanthin.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:cryptoxanthin, @aliment.vitamin.cryptoxanthin) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Vitamin A, IU</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_a_iu.round(2) %> IU
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_a_iu, @aliment.vitamin.vitamin_a_iu) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Lycopene</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.lycopene.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:lycopene, @aliment.vitamin.lycopene) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Lutein + zeaxanthin</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.lutein_zeaxanthin.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:lutein_zeaxanthin, @aliment.vitamin.lutein_zeaxanthin) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Vitamin E (alpha-tocopherol)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_e_alpha_tocopherol.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_e_alpha_tocopherol, @aliment.vitamin.vitamin_e_alpha_tocopherol) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Vitamin E, added</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_e_added.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_e_added, @aliment.vitamin.vitamin_e_added) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Vitamin D (D2 + D3)</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_d_d2_d3.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_d_d2_d3, @aliment.vitamin.vitamin_d_d2_d3) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Vitamin D</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_d.round(2) %> IU
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_d, @aliment.vitamin.vitamin_d) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Vitamin K</td>
                      <td class='gem__version__date'>
                        <%= @aliment.vitamin.blank? ? '-' : @aliment.vitamin.vitamin_k.round(2) %> µg
                      </td>
                      <td class='gem__version__date'><%= @aliment.vitamin.blank? ? '-' : daily_percentage(:vitamin_k, @aliment.vitamin.vitamin_k) %></td>
                  </tr>


                  <!-- AMINO ACIDS section -->
                  <tr class='gem__version-wrap'>
                    <td>
                      <a class="t-list__item" href="">Amino Acids</a>
                    </td>
                    <td class='nutrition_facts_cells'></td>
                    <td class='nutrition_facts_cells'></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Tryptophan</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.tryptophan.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:tryptophan, @aliment.amino_acid.tryptophan) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Threonine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.threonine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:threonine, @aliment.amino_acid.threonine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Isoleucine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.isoleucine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:isoleucine, @aliment.amino_acid.isoleucine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Leucine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.leucine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:leucine, @aliment.amino_acid.leucine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Lysine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.lysine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:lysine, @aliment.amino_acid.lysine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Methionine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.methionine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:methionine, @aliment.amino_acid.methionine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Cystine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.cystine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:cystine, @aliment.amino_acid.cystine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Phenylalanine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.phenylalanine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:phenylalanine, @aliment.amino_acid.phenylalanine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Tyrosine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.tyrosine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:tyrosine, @aliment.amino_acid.tyrosine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Valine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.valine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:valine, @aliment.amino_acid.valine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Arginine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.arginine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:arginine, @aliment.amino_acid.arginine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Histidine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.histidine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:histidine, @aliment.amino_acid.histidine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Alanine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.alanine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:alanine, @aliment.amino_acid.alanine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Aspartic acid</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.aspartic_acid.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:aspartic_acid, @aliment.amino_acid.aspartic_acid) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Glutamic acid</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.glutamic_acid.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:glutamic_acid, @aliment.amino_acid.glutamic_acid) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Glycine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.glycine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:glycine, @aliment.amino_acid.glycine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Proline</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.proline.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:proline, @aliment.amino_acid.proline) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Serine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.amino_acid.blank? ? '-' : @aliment.amino_acid.serine.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.amino_acid.blank? ? '-' : daily_percentage(:serine, @aliment.amino_acid.serine) %></td>
                  </tr>


                  <!-- OTHER section -->
                  <tr class='gem__version-wrap'>
                    <td>
                      <a class="t-list__item" href="">Other</a>
                    </td>
                    <td class='nutrition_facts_cells'></td>
                    <td class='nutrition_facts_cells'></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Alcohol, ethyl</td>
                      <td class='gem__version__date'>
                        <%= @aliment.other.blank? ? '-' : @aliment.other.alcohol.round(2) %> g
                      </td>
                      <td class='gem__version__date'><%= @aliment.other.blank? ? '-' : daily_percentage(:alcohol, @aliment.other.alcohol) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Caffeine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.other.blank? ? '-' : @aliment.other.caffeine.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.other.blank? ? '-' : daily_percentage(:caffeine, @aliment.other.caffeine) %></td>
                  </tr>
                  <tr>
                      <td class='gem__version__date'>Theobromine</td>
                      <td class='gem__version__date'>
                        <%= @aliment.other.blank? ? '-' : @aliment.other.theobromine.round(2) %> mg
                      </td>
                      <td class='gem__version__date'><%= @aliment.other.blank? ? '-' : daily_percentage(:theobromine, @aliment.other.theobromine) %></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
      </div>
    </div>

    <%= render "aliments/aside" %>
  </div>
<% end %>

      <%# if @latest_version.requirements.present? %>
        <!-- <div class="l-half--l"> -->
          <!-- <h3 class="t-list__heading"><%#= t '.requirements_header' %>:</h3> -->
          <!-- <div class="t-list__items"> -->
            <%# Array(@latest_version.requirements).each do |requirement| %>
              <!-- <p><%#= requirement %></p> -->
            <%# end %>
          <!-- </div> -->
        <!-- </div> -->
      <%# end %>

      <%#= render partial: "rubygems/gem_members", locals: { latest_version: @latest_version, rubygem: @rubygem } %>
      <%#= render partial: "rubygems/version_navigation", locals: { rubygem: @rubygem, latest_version: @latest_version } %>
    </div>

    <%#= render "rubygems/aside" %>
  </div>
