<% @title = t('.title') %>

<div class="l-colspan t-body">
  <p><%= t '.purpose.header', :site => t('title') %></p>
  <ol class="t-numbered-items">
    <li class="t-numbered-item"><%= t '.purpose.all_nutrients' %></li>
    <li class="t-numbered-item"><%= t '.purpose.free' %></li>
    <li class="t-numbered-item"><%= t '.purpose.diet_control' %></li>
  </ol>
  <p>
    <%= t('.founding', founder: link_to('Marcos Serpa', 'https://twitter.com/MarcosSerpa'),
                       :contributors => link_to("291 Rubyists", "https://github.com/rubygems/rubygems.org/graphs/contributors"),
                       :title => t('title')).html_safe %>
  </p>
  <p>
    <%= t('.support', code_polaris: link_to("Code Polaris", "http://codepolaris.com/"),
                      :dockyard => link_to("DockYard", "https://www.dockyard.com/"),
                      :rubygems => link_to("RubyGems", "https://rubygems.org/"),
                      :aws => link_to("AWS", "https://aws.amazon.com")).html_safe %>
  </p>
  <p>
    <%= t('.technical', :rails => link_to("Rails", "http://rubyonrails.org")).html_safe %>
  </p>
</div>
