!!!
%html{ lang: 'en' }
  %head
    -# %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ 'http-equiv' => "Content-Type", content: "text/html; charset=windows-1252" }/
    %meta{ name: "description", content: "CalorieKing - Diet and weight loss. Calorie Counter and more. It's Your Turn. Take control of your weight forever, with the online CalorieKing Program! Welcome to a new type of weight-loss program. Effective, life-long and affordable." }
    %meta{ name: "keywords", content: "calorieking, calorie king, calorie, weight loss, lose weight, keep weight off, diet, diets, dieting, healthy weight loss, health, obesity, fighting obesity, struggle with weight, weight gain, weight gain in remission, weight management, weight control, calorie counter, calorie chart, fat, fiber, fibre, calories, carbs, carbohydrates, nutritional information, nutrition facts, eating healthy, eat healthy, healthy food habits, healthy habits, exercise, fit, fitness, community, forum, blog, program, wellness, diabetes, diabetic, Type 2, Joslin Diabetes Center, Joslin, science-based, certified Diabetes educator, total calories, burn calories" }
    %meta{ name: "fb:page_id", content: "107936335925050" }

    %link{ rel: "icon", href: "http://images.calorieking.com/branding/ck/secure/favicon.ico" }

    %script{ src: "CalorieKing%20-%20Home_files/analytics.js", async: "" }
    %script{ src: "CalorieKing%20-%20Home_files/prum.js", async: "" }

    :javascript
      function getImagesURI(){
        return 'http://images.calorieking.com/branding/ck';
      }
      function getSecureImagesURI() {
        return 'http://images.calorieking.com/branding/ck/secure';
      }

    %link{ rel: "stylesheet", href: "CalorieKing%20-%20Home_files/style3.css", type: "text/css" }
    %link{ rel: "stylesheet", href: "CalorieKing%20-%20Home_files/frontpage.css", type: "text/css" }

    %script{ type: "text/javascript", src: "CalorieKing%20-%20Home_files/yahoo-dom-event.js" }
    %script{ type: "text/javascript", src: "CalorieKing%20-%20Home_files/container-min.js" }
    %script{ type: "text/javascript", src: "CalorieKing%20-%20Home_files/jquery.js" }
    %script{ type: "text/javascript", src: "CalorieKing%20-%20Home_files/Frontpage.js" }
    %script{ type: "text/javascript", src: "CalorieKing%20-%20Home_files/newsletter.js" }

    :javascript
      var _prum = [['id', '563ad423abe53d1331646f4d'], ['mark', 'firstbyte', (new Date()).getTime()]];
      (function() {
        var s = document.getElementsByTagName('script')[0], p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
      })();

    -# Google Analytics JS
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-316353-1', 'auto', {'legacyCookieDomain': '.calorieking.com'});

      ga('send', 'pageview');

  %body{ class: "", id: "top" }
    %div{ id: "page-container-lb" }
      %div{ id: "page-container-rb" }
      %div{ id: "page-top-left-shadow" }
      %div{ id: "page-top-right-shadow" }
      %div{ id: "page", class: "no-column" }
        %div{ id: "header" }
          %div{ class: "positioner" }
            %h1
              %a{ href: "http://www.calorieking.com/" }
                %img{ src: "CalorieKing%20-%20Home_files/logo_calorieking.png", alt: "CalorieKing" }

            %ul{ id: "site-nav", class: "site-nav" }
              %li{ class: "nav-item" }
                %a{ href: "javascript:void(0);", class: "nav-link top-level" }
                  home
                -# %ul{ class: "sub-nav" }
                -#   %li{ class: "sub-nav-content" }
                -#     %ul
                -#       %li{ class: "nav-item sub-item parental navsearch-item nav-col4", id: "program-nav" }
                -#         %a{ class: "sub-link parent-link" } The CalorieKing Program
                -#         %ul{ class: "sub-nav" }
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/products/the-calorieking-program/", class: "sub-link" } About the program
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/products/the-calorieking-program/success/", class: "sub-link" } Success Stories
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "https://payments.calorieking.com/enrollments/program/", class: "sub-link" } Join
                -#           %li{ class: "nav-item sub-item", id: "price-nav" }
                -#             %span{ id: "join-offer-footer" }
                -#               %p{ class: "the-sell" } Only
                -#               %br
                -#                 %span{ class: "sell-prices" } $49
                -#                 %span{ class: "sell-desc" } per year
                -#                 %br
                -#                 Save 65% off the
                -#                 %br
                -#                 regular monthly price.
                -#
                -#               %a{ class: "btn", id: "btn-nav", href: "https://payments.calorieking.com/enrollments/program/" } Start free trial
                -#
                -#       %li{ class: "nav-item sub-item parental navsearch-item nav-col3", id: "apps-nav" }
                -#         %span{ class: "sub-link parent-link" } Mobile apps
                -#         %ul{ class: "sub-nav" }
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/products/controlmyweight/", class: "sub-link" } ControlMyWeight
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/products/iosfoodsearch/", class: "sub-link" } Food Search for iOS
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/products/healthediabetes/", class: "sub-link" } HEALTHeDiabetes
                -#
                -#       %li{ class: "nav-item sub-item parental navsearch-item nav-col3", id: "books-nav" }
                -#         %span{ class: "sub-link parent-link" } Books
                -#         %ul{ class: "sub-nav" }
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/products/books/#cfcc", class: "sub-link" } Calorie, Fat &amp; Carb Counter
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/products/books/#cfej", class: "sub-link" } Food and Exercise Journal

              %li{ class: "nav-item" }
                %a{ href: "javascript:void(0);", class: "nav-link top-level" } about
                -# %ul{ class: "sub-nav" }
                -#   %li{ class: "sub-nav-content" }
                -#     %ul
                -#       %li{ class: "nav-item sub-item parental navsearch-item nav-col4" }
                -#         %span{ class: "sub-link parent-link" }
                -#           Food search
                -#           %ul{ class: "food-links sub-nav" }
                -#             %li{ class: "nav-item sub-item" }
                -#               %div
                -#                 %form{ method: "get", action: "http://www.calorieking.com/foods/search.php", class: "food-search" }
                -#                   %div
                -#                     %p
                -#                       %label{ for: "keywords", class: "food-search--label alt-font" } Search
                -#                       %input{ name: "keywords", id: "keywords", size: "20", class: "food-search--keywords", placeholder: "e.g. Apple, Chicken, McDonald's ...", type: "text" }
                -#                       %input{ name: "go", value: "Go", class: "food-search--submit btn dark", type: "submit" }
                -#
                -#             %li{ class: "nav-item sub-item" }
                -#               %a{ href: "http://www.calorieking.com/foods/", class: "sub-link" } Browse by category
                -#             %li{ class: "nav-item sub-item" }
                -#               %a{ href: "http://www.calorieking.com/foods/calories-in-fast-food-chains-restaurants_c-Y2lkPTIx.html", class: "sub-link" } Fast Food restaurant index
                -#
                -#       %li{ class: "nav-item sub-item parental nav-col3" }
                -#         %span{ class: "sub-link parent-link" } Calculators
                -#         %ul{ class: "sub-nav" }
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/interactive-tools/body-mass-index-bmi-calculator/", class: "sub-link" } BMI calculator
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/interactive-tools/how-many-calories-should-you-eat/?ref=nav", class: "sub-link" } How many calories should you eat?
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/interactive-tools/target-heart-rate-zone-calculator/", class: "sub-link" } Target heart rate zone
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/interactive-tools/waist-hip-ratio-calculator/", class: "sub-link" } Waist to hip ratio
                -#
                -#       %li{ class: "nav-item sub-item parental nav-col3" }
                -#         %span{ class: "sub-link parent-link" } Recipes &amp; more
                -#         %ul
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/recipes", class: "sub-link" }
                -#               Recipes
                -#           %li{ class: "nav-item sub-item" }
                -#             %a{ href: "http://www.calorieking.com/learnabouts", class: "sub-link" } Diet FAQs

              %li{ class: "nav-item" }
                %a{ href: "http://www.calorieking.com/store/", class: "nav-link top-level" } contact
              -# %li{ class: "nav-item" }
              -#   %a{ href: "http://blog.calorieking.com/", class: "nav-link top-level" } Blog
              -#
              -# %li{ class: "nav-item" }
              -#   %a{ href: "javascript:void(0);", class: "nav-link parent-link top-level" } Help
              -#   %ul{ class: "sub-nav" }
              -#     %li{ class: "sub-nav-content" }
              -#       %ul
              -#         %li{ class: "nav-item sub-item parental navsearch-item nav-col4" }
              -#           %span{ class: "sub-link parent-link" } Search FAQs
              -#           %ul{ class: "food-links sub-nav" }
              -#             %li{ class: "nav-item sub-item" }
              -#               %div
              -#                 %form{ method: "get", action: "https://generalhelp.calorieking.com", class: "food-search" }
              -#                   %div
              -#                     %p
              -#                       %label{ for: "q", class: "food-search--label alt-font" } Search
              -#                       %input{ name: "q", size: "20", class: "food-search--keywords", placeholder: "e.g. I've forgotten my password", type: "text" }
              -#                       %input{ name: "submit", value: "Go", class: "food-search--submit btn dark", type: "submit" }
              -#                       %input{ value: "search", name: "pg", type: "hidden" }
              -#                       %input{ value: "kb", name: "area", type: "hidden" }
              -#
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "https://generalhelp.calorieking.com/?group=website&amp;pg=kb.book&amp;id=15", class: "sub-link" } See all FAQs
              -#
              -#         %li{ class: "nav-item sub-item parental nav-col3" }
              -#           %span{ class: "sub-link parent-link" } Support
              -#           %ul{ class: "sub-nav" }
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "https://generalhelp.calorieking.com/?pg=request&amp;group=website", class: "sub-link" } Website
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "https://generalhelp.calorieking.com/?pg=request&amp;group=iphone", class: "sub-link" } iPhone and iPad
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "https://generalhelp.calorieking.com/?pg=request&amp;group=shop", class: "sub-link" } Online store
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "https://generalhelp.calorieking.com/", class: "sub-link" } More...
              -#
              -#         %li{ class: "nav-item sub-item parental nav-col3" }
              -#           %span{ class: "sub-link parent-link" }
              -#           Contact us
              -#           %ul{ class: "sub-nav" }
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "https://generalhelp.calorieking.com/?pg=request", class: "sub-link" } Send us an email
              -#
              -#         %li{ class: "nav-item sub-item" }
              -#           %a{ href: "http://www.calorieking.com/sitemap/", class: "sub-link" } Sitemap
              -#         %li{ class: "nav-item sub-item"}
              -#           %a{ href: "http://www.calorieking.com/newsletter/unsubscribe.php", class: "sub-link" } Newsletter unsubscribe
              -#
              -# %li{ class: "nav-item members-nav" }
              -#   %a{ href: "javascript:void(0);", class: "nav-link parent-link top-level" } Members
              -#   %ul{ class: "sub-nav" }
              -#     %li{ class: "sub-nav-content" }
              -#       %ul
              -#         %li{ class: "nav-item sub-item parental nav-col navsearch-item members-item" }
              -#           %span{ class: "sub-link parent-link" } Tools
              -#           %ul{ class: "sub-nav" }
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/tools/diary/", class: "sub-link" } Food Diary
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/tools/weighin/", class: "sub-link" } Weigh in
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/tools/mab/", class: "sub-link" } Motivation
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/tools/mab/", class: "sub-link" } Activity planner
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/tools/goalsetter/", class: "sub-link" } Goal setter
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/personal/charts/", class: "sub-link" } Charts and reports
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/cku/courseoutline/", class: "sub-link" } Program topic outline
              -#
              -#         %li{ class: "nav-item sub-item parental members-item" }
              -#           %span{ class: "sub-link parent-link" } Food
              -#           %ul{ class: "sub-nav" }
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/foods/", class: "sub-link" } Food Database
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/recipes/", class: "sub-link" } Recipes
              -#
              -#         %li{ class: "nav-item sub-item parental members-item activity-item" }
              -#           %span{ class: "sub-link parent-link" } Activity
              -#           %ul{ class: "sub-nav" }
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/workoutroom/", class: "sub-link" } Exercise library
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/tools/etrainer/", class: "sub-link" } Fitness tests
              -#
              -#         %li{ class: "nav-item sub-item parental members-item" }
              -#           %span{ class: "sub-link parent-link" } Community
              -#           %ul{ class: "sub-nav" }
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/community/", class: "sub-link" } Dashboard
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/community/groups/", class: "sub-link" } Groups
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/community/forums/", class: "sub-link" } Forums
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/personal/messages/", class: "sub-link" } Messages
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/blogs/", class: "sub-link" } Blogs
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/personal/blog/", class: "sub-link" } New blog entry
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/community/directory/", class: "sub-link" } Member Directory
              -#
              -#         %li{ class: "nav-item sub-item parental members-item" }
              -#           %span{ class: "sub-link parent-link" } Settings
              -#           %ul{ class: "sub-nav" }
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/personal/myaccount/", class: "sub-link" } Account settings
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/personal/myaccount/targets/", class: "sub-link" } Targets
              -#
              -#         %li{ class: "nav-item sub-item parental members-item get-help" }
              -#           %span{ class: "sub-link parent-link" } Get Help
              -#           %ul{ class: "sub-nav" }
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "http://www.calorieking.com/cku/lesson.php?id=65", class: "sub-link" } What is the program?
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "https://programhelp.calorieking.com/?pg=kb.book&amp;id=16", class: "sub-link" } FAQs
              -#             %li{ class: "nav-item sub-item" }
              -#               %a{ href: "https://programhelp.calorieking.com/?pg=request", class: "sub-link" } Send us an email

            :javascript
              (function() {
                var
                  _activeNavItem = null,
                  _activeSubMenu = null;

                function _openMenu(navItem, subMenu) {
                  navItem.className = navItem.className.concat(' open');
                  subMenu.className = subMenu.className.concat(' active');
                }

                function _closeMenu(navItem, subMenu) {
                  navItem.className = navItem
                    .className
                    .replace(/\bopen\b/, '')
                    .replace(/^\s+|\s+$/g, '');

                  subMenu.className = subMenu
                    .className
                    .replace(/\bactive\b/, '')
                    .replace(/^\s+|\s+$/g, '');
                }

                function _bindToggleSubMenu(navItem, subMenu) {
                  var
                    _toggleSubMenu = function(navItem, subMenu) {
                      if ( navItem.className.indexOf('open') >= 0 ) {
                        _closeMenu(_activeNavItem, _activeSubMenu);
                      } else {
                        if ( ((null !== _activeNavItem) && (null !== _activeSubMenu)) && (_activeNavItem !== navItem) ) {
                          _closeMenu(_activeNavItem, _activeSubMenu);
                        }
                        _openMenu(navItem, subMenu);
                        _activeNavItem = navItem;
                        _activeSubMenu = subMenu;
                      }
                    };

                  if ( window.addEventListener ) {
                    navItem.addEventListener(
                      'click',
                      function() {
                        _toggleSubMenu(navItem, subMenu)
                      },
                      true
                    );
                  } else if ( window.attachEvent ) {
                    navItem.attachEvent(
                      'onclick',
                      function() {
                        _toggleSubMenu(navItem, subMenu)
                      }
                    );
                  }
                }

                (function() {
                  var
                    siteNav = document.getElementById('site-nav'),
                    navItem = null,
                    subMenu = null,
                    i,
                    k,
                    onOutsideClickCloseMenu = function(event) {
                      var
                        e = event || window.event;

                      if ( (_activeSubMenu !== null)
                        && ( (e.clientY < siteNav.offsetTop)
                          || (e.clientY > (_activeSubMenu.offsetTop + _activeSubMenu.offsetHeight))
                        ) )
                      {
                        _closeMenu(_activeNavItem, _activeSubMenu);
                      }
                    };

                  for ( i = 0; i < siteNav.childNodes.length; i += 1 ) {
                    if ( (1 === siteNav.childNodes[i].nodeType)
                      && ('LI' === siteNav.childNodes[i].tagName)
                      && (siteNav.childNodes[i].className.indexOf('nav-item') >= 0) )
                    {
                      for ( k = 0; k < siteNav.childNodes[i].childNodes.length; k += 1 ) {
                        if ( (1 === siteNav.childNodes[i].childNodes[k].nodeType)
                          && (siteNav.childNodes[i].childNodes[k].tagName === 'A')
                          && (siteNav.childNodes[i].childNodes[k].className.indexOf('parent-link') >= 0) )
                        {
                          navItem = siteNav.childNodes[i].childNodes[k];
                          subMenu = navItem;
                          do {
                            subMenu = subMenu.nextSibling;
                          } while (
                            ( null !== subMenu )
                            && !(
                              (1 === subMenu.nodeType)
                              && ('UL' === subMenu.tagName)
                              && (subMenu.className.indexOf('sub-nav') >= 0)
                            )
                          );
                          _bindToggleSubMenu(navItem, subMenu);
                        }
                      }
                    }
                  }

                  if ( window.addEventListener ) {
                    document.getElementsByTagName('html')[0].addEventListener(
                      'click',
                      onOutsideClickCloseMenu,
                      true
                    );
                  } else if ( window.attachEvent ) {
                    document.getElementsByTagName('html')[0].attachEvent(
                      'onclick',
                      onOutsideClickCloseMenu
                    );
                  }
                }());
              }());

          %div{ id: "homefoodsearch" }
            %div{ class: "positioner" }
              = form_for(:aliment, url: :search_aliments, html: { id: 'food_search' }, method: :get) do |f|
                %div
                  %div{ id: "searchTitle" }
                    %h2{ class: "h4" }

                  = f.autocomplete_field :name, autocomplete_aliment_name_aliments_path, placeholder: "e.g. Pizza, Wendy's, Avocado, Vodka", id: 'food-search-input'
                  = f.submit 'search', id: 'food-search-submit'

                  %div{ id: "popular-food-searches" }
                    %strong Popular:
                    %a{ href: "http://www.calorieking.com/calories-in-potatoes.html" } Potatoes,

                    %a{ href: "http://www.calorieking.com/calories-in-eggs.html" } Eggs,

                    %a{ href: "http://www.calorieking.com/calories-in-bagel.html" } Bagel,

                    %a{ href: "http://www.calorieking.com/calories-in-steak.html" } Steak,

                    %a{ href: "http://www.calorieking.com/calories-in-pancakes.html" } Pancakes,

                    %a{ href: "http://www.calorieking.com/calories-in-mcdonalds.html" } Mcdonalds,

                    %a{ href: "http://www.calorieking.com/calories-in-asparagus.html" } Asparagus,
                    %a{ href: "http://www.calorieking.com/foods/topsearches.php" } More...



          -# %div{ id: "page-content", class: "homepage" }
          -#   %div{ id: "title-cta", class: "variation" }
          -#     %div{ id: "title-holder" }
          -#     %h2{ id: "maintitle" } Lose the weight forever
          -#     %p CalorieKing has the weight control tools most recommended by health professionals.
          -#
          -#     %p{ style: "position:absolute; color:#FFF; width:200px; left:50%; margin-left:-100px; text-transform:uppercase; text-align:center; margin-top:40px;" } Featured Products
          -#
          -#   %ul{ class: "products" }
          -#     %li{ class: "product" }
          -#       %a{ class: "promo-holder", href: "http://www.calorieking.com/products/the-calorieking-program/" }
          -#         %img{ src: "CalorieKing%20-%20Home_files/OP-home.gif", alt: "" }
          -#         %span{ class: "data" }
          -#           %span{ class: "category" } WEB
          -#           %h3{ class: "prod-title" } The CalorieKing Program
          -#           %p Join our community and we'll show you how to lose the weight and keep it off.
          -#
          -#     %li{ class: "product" }
          -#       %a{ href: "http://www.calorieking.com/products/controlmyweight/" }
          -#         %img{ src: "CalorieKing%20-%20Home_files/CMW.jpg", alt: "" }
          -#         %span{ class: "data" }
          -#           %span{ class: "category" } iOS
          -#           %h3{ class: "prod-title" } ControlMyWeight™
          -#           %p Our top-rated calorie counter helps you make smarter food choices wherever you go.
          -#
          -#     %li{ class: "product last-product" }
          -#       %a{ href: "http://www.calorieking.com/products/books/" }
          -#         %img{ src: "CalorieKing%20-%20Home_files/Books.jpg", alt: "" }
          -#         %span{ class: "data" }
          -#           %span{ class: "category" } Books
          -#           %h3{ class: "prod-title" } 2016 Editions
          -#           %p Our bestselling calorie counter and food diary. Pocket size.
          -#
          -#   %div{ class: "all-products" }
          -#     %a{ href: "http://www.calorieking.com/products/" } See all products
          -#
          -#   %div{ id: "tools-hmcsye" }
          -#     %div{ class: "left" }
          -#     %div{ class: "right" }
          -#       %form{ id: "profile-sell", action: "http://www.calorieking.com/interactive-tools/how-many-calories-should-you-eat/", method: "get" }
          -#         %div{ class: "survey" }
          -#         %span{ class: "headline" }
          -#           How many calories should you eat?
          -#           %div
          -#             %label{ for: "h-feet", class: "svy-label" } Height
          -#             %div{ class: "fiddy" }
          -#               %label{ for: "h-feet", class: "in-field" }
          -#                 %abbr{ title: "feet" } ft
          -#
          -#               %input{ id: "h-feet", name: "hf", type: "number" }
          -#
          -#             %div{ class: "fiddy" }
          -#               %label{ for: "h-inches", class: "in-field" }
          -#                 %abbr{ title: "inches" } in
          -#
          -#               %input{ id: "h-inches", name: "hi", type: "number" }
          -#
          -#           %div{ class: "fiddy" }
          -#             %label{ for: "weight", class: "svy-label" }
          -#               Weight
          -#               %span{ class: "in-field lbs" }
          -#                 %abbr{ title: "pounds" } lbs
          -#
          -#             %input{ id: "weight", name: "w", type: "number" }
          -#
          -#           %div{ class: "fiddy" }
          -#             %label{ for: "age", class: "svy-label" } Age
          -#             %input{ id: "age", name: "a", type: "number" }
          -#
          -#           %div{ id: "gender-submit" }
          -#             %div{ class: "fiddy gender" }
          -#               %label{ class: "svy-label" } Gender
          -#               %select{ name: "g", class: "form-control" }
          -#                 %option{ selected: "selected", value: "F" } Female
          -#                 %option{ value: "M" } Male
          -#
          -#             %div{ class: "fiddy controls" }
          -#               %label{ class: "svy-label" } Controls
          -#               %button{ id: "profile-submit", type: "submit" } Go
          -#               %input{ name: "ref", value: "home", type: "hidden" }

          = yield

          -# <!-- site up text required for site up check - do not change without advising system administrator -->
          %div{ style: "clear: both" }

    %div{ id: "footer" }
      %div{ class: "positioner" }
        %p{ class: "links" }
          %a{ href: "https://generalhelp.calorieking.com/" } Contact Us
          &nbsp|
          %a{ href: "http://www.calorieking.com/partners/" } Partners
          &nbsp|
          %a{ href: "https://developer.calorieking.com/" } Developers
          &nbsp|
          %a{ href: "http://www.calorieking.com/terms/" } Terms &amp; Conditions
          &nbsp|
          %a{ href: "http://www.calorieking.com/privacy/" } Privacy Policy
          &nbsp|
          %a{ href: "http://www.calorieking.com/mobile/" } iPhone &amp; Mobile
          &nbsp|
          %a{ href: "http://www.calorieking.com/sitemap/" } Sitemap

        %p{ class: "copyright" }
          Copyright ©2016 CalorieKing Wellness Solutions, Inc.

        %ul{ id: "sm_footer" }
          %li
            %a{ href: "http://twitter.com/calorieking/", class: "twitter" } Twitter
          %li
            %a{ href: "http://facebook.com/calorieking/", class: "fb" } Facebook
          %li
            %a{ href: "http://pinterest.com/calorieking/", class: "pinterest" } Pinterest



    -# %title Yummy - Count your diet calories
    -#
    -# / Bootstrap CSS
    -# %link{:href => "https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  -# %body
    / jQuery first, then Bootstrap JS.
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    %script{:src => "https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"}

    / BEGIN THE YUMMY STRUCTURE
    %header
      %div.container
        %div.row
          %ul.nav.nav-tabs{ role: "tablist" }
            -# %li.nav-item
            -#   %img{ alt: "", src: "/images/yummy_apple.png", style: "width: 40px; height: 40px;" }/
            %li.nav-item
              %a.nav-link{ href: '#' } home
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#", :role => "button", "aria-haspopup" => true, "aria-expanded" => false } search

              %div.dropdown-menu
                %a.dropdown-item{ href: '#' } Action
                %a.dropdown-item{ href: '#' } Another Action
            %li.nav-item
              %a.nav-link{ href: '#' } about
            %li.nav-item
              %a.nav-link.disabled.text-muted{ href: '#' } contact

    %div#food_search.container
      .form-inline.navbar-form
        = form_for(:aliment, url: :search_aliments, html: { id: 'search_bar_form' }, method: :get) do |f|
          .row
            .col-lg-6
              .input-group{ style: "width: 800px" }
                = f.autocomplete_field :name, autocomplete_aliment_name_aliments_path, placeholder: 'search', class: "form-control m-l-md", id: 'search_bar_input'

                %span.input-group-btn
                  = f.submit 'search', class: "button btn btn-success", id: 'search_bar_button'

        = yield
